body {
    font-family: 'Lato', sans-serif;
    background: #f3f7fb!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    color: #212529;
    text-align: center;
}

h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: 46px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    margin: 0 auto;
}

#longbox {
    width: 100%;
    height: 80px;
    background-color: #32aeb1;
}

.imgbox {
    width: 200px;
    margin: 15px;
    vertical-align: middle;
    height: 50px;
    background-color: #32aeb1;
    display: inline-block;
}

#search {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin: 18px;
    background: white;
}

.val {
    width: 60px;
    height: 20px;
    ;
}

#sel {
    width: 168px;
    height: 30px;
    vertical-align: middle;
    margin: 8px;
    border: none;
    display: inline-block;
}

.class {
    color: blue;
    ;
}

.text {
    color: black;
    display: inline-block;
    padding: 2px;
    ;
}

.dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dbox {
    width: 96px;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.dropdown {
    display: inline-block;
}

.med {
    font-family: LatoSemiBold;
    font-size: 16px;
    color: white;
}

.pmed {
    vertical-align: bottom;
    display: inline-block;
    color: white;
    font-family: LatoSemiBold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 190px;
    font-size: 12px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ico {
    width: 10px;
    ;
}

body {
    background: #f3f7fb!important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
    color: #32aeb1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#boxes {
    width: 400px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.b1 {
    width: 110px;
    height: 30px;
    display: inline-block;
    padding: 5px;
}

.row {
    max-width: 1000px;
    margin: auto;
    display: inline-block;
    display: flex;
}

.row>div {
    height: 50px;
    flex-basis: 180px;
    border-radius: 5px;
    margin: 10px;
}

#row2 {
    max-width: 98%;
    margin: auto;
    display: inline-block;
    display: flex;
    margin: 5px;
    ;
}

#row2>div {
    margin: 0 auto 8px;
    padding: 0 8px;
    height: 230px;
    flex-basis: 215px;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
}

#secondbigbox {
    background: #32aeb1;
}

#rimg {
    padding: 6px;
    display: inline-block;
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 26px;
    font-size: 13px;
    color: black;
}

ul.nav li {
    float: left;
}

ul.nav a {
    display: block;
    padding: 0px 28px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 7px;
}

.nbox {
    width: 80%;
    height: 56px;
    margin: auto;
    padding: 0;
    list-style: none;
}

ul.navbar {
    float: left;
}

ul.navbar li {
    float: left;
}

.la {
    font-size: 14px;
    line-height: 20px;
    color: rgba(11, 18, 25, .75);
    margin-bottom: -27px;
    list-style: none;
    padding: 11px;
    margin-right: 8px;
    margin-top: -3px;
}

.nav {
    width: 70%;
    height: 100px;
    ;
}

#bannerimg {
    width: 100%;
}

.bimg {
    margin: 0 auto;
    display: list-item;
    max-width: 98%;
    height: 290px;
}

h2 {
    font-family: LatoBold;
    font-size: 24px;
    margin: 11px 20px 24px;
    line-height: 32px;
    color: #0b1219;
    padding: 0;
    letter-spacing: 0.25px;
    display: block;
}

.boximg {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.skin {
    max-width: 93%;
    vertical-align: middle;
    border-style: none;
}

span.textTitle {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    padding: 0 8px;
    display: block;
    color: #0b1219;
    font-family: LatoSemiBold;
    margin: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 44px;
    min-height: 44px;
    text-transform: capitalize;
}

.brand {
    vertical-align: middle;
    border-style: none;
    /* max-width: 86%; */
    /* padding: 34px; */
    width: 62%;
    margin-left: 40px;
    margin-top: 11px;
}

span.bsave {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    display: block;
    padding: 8px 8px 0;
    color: #5ba41c;
    font-family: Lato;
}

#flex {
    max-width: 98%;
    margin: auto;
    display: inline-block;
    display: flex;
    margin: 5px;
}

#flex>div {
    margin: 0 auto 8px;
    margin-top: 22px;
    height: 82px;
    padding: 0 8px;
    display: inline-block;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
}

.fleximg {
    width: 14%;
    padding: 10px;
    margin: 2px;
    float: left;
}

.heading {
    font-size: 20px;
    line-height: 26px;
    font-family: LatoBold;
    color: #0b1219;
    margin: 0;
}

.save_text {
    color: #5ba41c;
    font-size: 14px;
    line-height: 20px;
    font-family: LatoBold;
    display: block;
}

.flexbox {
    width: 200px;
    height: 80px;
    float: left;
    text-align: left;
    padding: 15px;
}

.headingbox {
    width: 200px;
    font-size: 20px;
    line-height: 26px;
    font-family: LatoBold;
    color: #0b1219;
    margin: 0;
    height: 60px;
    float: left;
}

#boxr {
    margin: 10px;
    margin-top: 22px;
    height: 82px;
    padding: 0 8px;
    display: inline-block;
    width: 30%;
    border: 1px solid red;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 8px;
    background: #fff;
}

.ptext {
    margin: 0px 0px 8px;
    font-size: 12px;
    font-family: LatoBold;
    color: #6F7284;
    /* width: 100%; */
    overflow: hidden;
    /* white-space: nowrap; */
    padding: 0px;
    /* letter-spacing: 0; */
}

.fleximgg {
    width: 11%;
    padding: 12px;
    margin: 2px;
    float: left;
}

.box {
    margin: 0px 0px 8px;
    font-size: 12px;
    font-family: LatoBold;
    color: #151b39;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    letter-spacing: 0;
    line-height: 38px;
}

#sectionBox {
    max-width: 46%;
    height: 170px;
    border: 1px solid blue;
    margin: 10px;
    display: inline-block;
}

#sectionLBox {
    max-width: 54%;
    height: 170px;
    width: 51%;
    border: 1px solid blue;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.sectionText {
    font-size: 24px;
    line-height: 32px;
    font-family: LatoBold;
    color: #0b1219;
    padding: 0;
    margin: 4px;
}

.sectionSpan {
    font-size: 16px;
    line-height: 24px;
    color: rgba(11, 18, 25, .7)
}

.sectionImg {
    margin: 1px;
    margin-left: 40%;
    margin-top: -38px;
    display: inline-block;
}

.section {
    display: inline-block;
}

.lSection {
    display: inline-block;
}

.bagimg img {
    margin-left: 499px;
    margin-top: -146px;
}

.img {
    margin-left: 499px;
    margin-top: -146px;
}

h2 {
    font-family: LatoBold;
    font-size: 24px;
    margin: 10px 11px 24px;
    line-height: 32px;
    color: #0b1219;
    padding: 0;
    letter-spacing: 0.25px;
    display: block;
}

ul li {
    font-size: 14px;
    line-height: 20px;
    color: rgba(11, 18, 25, .75);
    margin-bottom: 8px;
}

div.f-msg {
    text-align: -webkit-right;
    /* vertical-align: middle; */
    margin-top: -83px;
}

.f-msg {
    width: auto;
    background: url(../images/icons/new-icons/flash.svg) no-repeat left center;
    background-size: 24px!important;
    padding-left: 32px;
    font-size: 16px;
    color: #ef4281;
    line-height: 24px;
    letter-spacing: 0;
    height: 24px;
    font-family: LatoBold;
}

h1 {
    font-family: LatoBold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    color: #0b1219;
    margin-left: 22px;
}

.footer-logo {
    padding: 19px;
    display: inline-block;
}

.footer-txt {
    display: inline-block;
    padding: 5px;
    width: 60%;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: LatoSemiBold;
    color: rgba(11, 18, 25, .5);
    align-items: center;
}

.footer-top {
    width: 300px;
    height: 100px;
    display: inline-block;
}

.company {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    text-transform: uppercase;
}

.list {
    width: 300px;
    height: 550px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.head2 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    text-transform: uppercase;
    margin-left: -86%;
}

ul li a {
    line-height: 32px;
    font-size: 14px;
    font-family: Lato;
    color: #0b1219;
}

a {
    text-decoration: none;
}

.listt {
    width: 270px;
    height: 550px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
    max-height: 541px;
}

.subscribe h1 {
    font-size: 14px;
    line-height: 22px;
    padding: 11px;
    /* text-transform: uppercase; */
    margin: 2px;
}

.inp {
    width: 194px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    padding: 0 12px;
}

input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.subtext {
    font-size: 13px;
    padding: 9px;
}

.foot {
    width: 100px;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    margin: 9px;
}

.fonttext {
    font-family: Lato;
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 8px;
    color: rgba(11, 18, 25, .75);
    margin-left: 24px;
}

p.pp {
    margin: 2px;
    padding: 20px;
    line-height: 25px;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 8px;
    color: rgba(11, 18, 25, .75);
}

.explore {
    display: block;
    padding: 12px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    width: 140px;
    color: #fff;
    font-family: LatoSemiBold;
    background: #24aeb1;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgb(36 174 177 / 40%);
    text-align: center;
    letter-spacing: 1px;
    margin-top: 32px;
    text-decoration: none;
    margin: 23px;
}

.flimg {
    width: 50%;
    /* vertical-align: middle; */
    padding: 31px;
}

.copyright {
    background: #fff;
    color: rgba(11, 18, 25, .5);
    display: inline-block;
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: 65px;
    padding: 0 30px;
    font-family: LatoSemiBold;
}

small {
    font-size: 80%;
    font-weight: 400;
}

.copyblock a {
    color: rgba(11, 18, 25, .5);
    font-family: LatoBold;
}

a {
    text-decoration: none;
}

.copyblock {
    min-width: 1030px;
    max-width: 1280px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    line-height: 65px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(195, 195, 195, .5);
}

.pink {
    background: #f3f7fb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ef4281), color-stop(50%, #f3f7fb));
    background: linear-gradient( 180deg, #ef4281 50%, #f3f7fb 50%);
    margin: 0 -16px 6px;
    position: relative;
    padding: 9px;
}

.breadcrumbs {
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    clear: both;
    font-family: Lato!important;
    margin: 0 auto!important;
    min-width: 1030px;
    max-width: 1680px;
    padding: 12px 16px!important;
    width: 100%;
}

.gray {
    background: #f3f7fb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(11, 18, 25, .45)), color-stop(50%, #f3f7fb));
    background: linear-gradient( 180deg, rgba(11, 18, 25, .45) 50%, #f3f7fb 50%);
    margin: 0 -16px 6px;
    position: relative;
}

.textTitlee {
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    padding: 0 8px;
    display: block;
    color: #0b1219;
    font-family: LatoSemiBold;
    margin: 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 44px;
    min-height: 44px;
    text-transform: capitalize;
    margin: 22px;
}

.refil {
    font-family: LatoBold;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: .25px;
    display: block;
    padding: 0;
}

#log {
    width: 35px;
    height: 27px;
    /* background: rgba(11, 18, 25, .75); */
    color: white;
    float: right;
    padding: 24px;
}